<footer class="w-full flex-1 dark:bg-neutral-800">
  <div class="px-4 pb-6 pt-16 sm:px-6 lg:px-8 lg:pt-24">
    <div class="grid grid-cols-1 gap-2 lg:grid-cols-3">
      <div>
        <div class="text-dny-purple flex justify-center sm:justify-start">
          {{ footerData.title }}
        </div>
        <p
          class="mx-auto mt-4 max-w-md text-center leading-relaxed text-gray-400 sm:mx-0 sm:max-w-xs sm:text-left"
        >
          {{ footerData.subTitle }}
        </p>
      </div>
    </div>

    <div class="mt-6 border-t border-gray-800 pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <a
          [href]="footerData.portfolioGithubLink"
          class="mt-4 text-sm text-gray-500 underline sm:order-first sm:mt-0"
          target="_blank"
        >
          {{ footerData.portfolioText }}
        </a>
      </div>
    </div>
  </div>
</footer>
