<footer class="w-full flex-1 dark:bg-neutral-800">
  <div class="px-4 pb-6 pt-16 sm:px-6 lg:px-8 lg:pt-24">
    <div class="grid grid-cols-1 gap-2 lg:grid-cols-3">
      <div>
        <div class="text-dny-red flex justify-center sm:justify-start">
          {{ footerData.title }}
        </div>

        <p
          class="mx-auto mt-4 max-w-md text-center leading-relaxed text-gray-400 sm:mx-0 sm:max-w-xs sm:text-left"
        >
          {{ footerData.subTitle }}
        </p>

        <ul class="mt-4 flex justify-center gap-6 sm:justify-start md:gap-8">
          <li *ngFor="let social of footerData.socials">
            <a
              [href]="social.value"
              rel="noopener noreferrer"
              target="_blank"
              class="text-teal-500 transition hover:text-teal-500/75"
            >
              <img
                [src]="social.svgIcon"
                [alt]="social.key"
                height="24px"
                width="24px"
              />
            </a>
          </li>
        </ul>
      </div>

      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2"
      >
        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-white">
            {{ footerData.additionalText }}
          </p>

          <ul class="mt-4 space-y-4 text-sm">
            <li>
              <a
                class="group flex items-center justify-center gap-1.5 sm:justify-start"
                href="/"
              >
                <span class="text-white transition group-hover:text-white/75">
                  {{ footerData.contact.linkedIn }}
                </span>
              </a>
            </li>

            <li
              class="flex items-start justify-center gap-1.5 sm:justify-start"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 shrink-0 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                />
              </svg>

              <address class="-mt-0.5 not-italic text-white">
                {{ footerData.contact.address }}
              </address>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-6 border-t border-gray-800 pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <a
          [href]="footerData.portfolioGithubLink"
          class="mt-4 text-sm text-gray-500 sm:order-first sm:mt-0"
          target="_blank"
        >
          {{ footerData.portfolioText }}
        </a>
      </div>
    </div>
  </div>
</footer>
