<div
  class="relative mx-auto max-w-screen-2xl bg-white px-4 py-16 md:max-w-3xl lg:py-24"
>
  <section-title [title]="title" />
  <div class="flex flex-col gap-2 md:flex-row">
    <div class="flex flex-1 flex-col">
      <div class="flex flex-1 flex-col">
        <img
          class="h-full object-cover"
          src="https://images.unsplash.com/photo-1664764119004-999a3f80a1b8?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjY2NDEzMDc&ixlib=rb-4.0.3&q=80"
          alt=""
        />
      </div>
    </div>
    <div class="flex flex-1">
      <div class="grid grid-cols-2 gap-2">
        <div>
          <img
            class="h-full object-cover"
            src="https://images.unsplash.com/photo-1666147775717-65fa1fe0c47b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjY2NDMxNzc&ixlib=rb-4.0.3&q=80&w=400"
            alt=""
          />
        </div>
        <div *ngFor="let image of imagesData">
          <img class="h-full object-cover" [src]="image" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
