<div
  class="relative mx-auto max-w-screen-2xl bg-white px-4 py-16 md:max-w-3xl lg:py-24"
>
  <section-title [title]="title" />

  <div
    class="columns-1 gap-4 space-y-4 p-4 sm:columns-2 md:columns-3 lg:columns-4"
  >
    <div
      *ngFor="let image of imagesData"
      class="group relative cursor-pointer overflow-hidden rounded-md"
    >
      <img [src]="image" />
      <div
        class="absolute inset-0 opacity-0 transition duration-300 group-hover:opacity-100"
      >
        <div
          class="pointer-events-none absolute inset-0 bg-black opacity-30"
        ></div>
        <div class="absolute inset-0 flex flex-col p-8">
          <button
            class="mr-auto rounded-full bg-red-500 px-8 py-2 text-sm font-bold text-white"
          >
            Share
          </button>
          <div
            class="relative z-10 mt-auto break-words text-lg font-semibold text-white"
          >
            loreum ipsum
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
