<div class="mt-24 flex justify-center">
  <div
    class="mx-4 flex w-full flex-col items-center gap-4 md:w-auto md:max-w-3xl md:flex-row md:items-start"
  >
    <div class="relative">
      <div>
        <h2
          class="text-center text-4xl font-bold leading-tight text-gray-800 lg:text-5xl"
        >
          Testimonials
        </h2>
        <div class="mx-auto my-4 h-2 w-12 border-4 border-indigo-500"></div>
        <div class="text-center font-light text-gray-700">
          Here are what people saying ...
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div
          class="relative mx-auto mt-8 flex flex-col justify-between rounded-lg bg-gray-100 p-10 text-gray-700 shadow"
        >
          <div class="-ml-4">
            <svg
              class="w-8 text-indigo-500 opacity-25"
              xmlns="http://www.w3.org/2000/svg"
              shape-rendering="geometricPrecision"
              text-rendering="geometricPrecision"
              image-rendering="optimizeQuality"
              fill-rule="evenodd"
              clip-rule="evenodd"
              viewBox="0 0
                                                                                                             640 640"
              fill="currentColor"
            >
              <path
                d="M557.133 561.704H442.128c-44.256 0-80.458-36.19-80.458-80.446 0-165.58-42.32-347.485 160.656-399.418 91.95-23.516 115.915 77.753 18.119 84.745-59.647 4.276-71.293 42.804-73.147 101.068h92.269c44.256 0 80.458 36.201 80.458 80.458v130.702c0 45.591-37.3 82.89-82.891 82.89zm-358.032 0H84.096c-44.256 0-80.446-36.19-80.446-80.446 0-165.58-42.331-347.485 160.644-399.418 91.95-23.516 115.915 77.753 18.118 84.745-59.646 4.276-71.292 42.804-73.146 101.068h92.269c44.256 0 80.457 36.201 80.457 80.458v130.702c0 45.591-37.3 82.89-82.89 82.89z"
              />
            </svg>
          </div>
          <div class="mt-2">
            I felt disorganized. Pieces of paper everywhere. I was constantly
            making new lists, losing old ones, crossing off items and adding new
            ones. I was forever worried things were slipping and not getting
            done. My brain was tired
          </div>
          <div>
            <div class="mx-auto my-8 w-full border border-gray-300"></div>
            <div class="flex items-center">
              <div>
                <img
                  class="h-12 w-12 rounded-full border-2 border-indigo-400"
                  src="https://avatars2.githubusercontent.com/u/2741?s=64&v=4"
                />
              </div>
              <div class="ml-4">
                <div class="font-bold">David H. Hansson</div>
                <div class="mt-1 text-sm text-gray-600">
                  CTO,
                  <a
                    href="https://timerse.com/7-steps-to-boost-your-metabolism/"
                    >Boosting Metabolism</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="relative mx-auto mt-8 flex flex-col justify-between rounded-lg bg-gray-100 p-10 text-gray-700 shadow"
        >
          <div class="-ml-4">
            <svg
              class="w-8 text-indigo-500 opacity-25"
              xmlns="http://www.w3.org/2000/svg"
              shape-rendering="geometricPrecision"
              text-rendering="geometricPrecision"
              image-rendering="optimizeQuality"
              fill-rule="evenodd"
              clip-rule="evenodd"
              viewBox="0 0
                                                                                                             640 640"
              fill="currentColor"
            >
              <path
                d="M557.133 561.704H442.128c-44.256 0-80.458-36.19-80.458-80.446 0-165.58-42.32-347.485 160.656-399.418 91.95-23.516 115.915 77.753 18.119 84.745-59.647 4.276-71.293 42.804-73.147 101.068h92.269c44.256 0 80.458 36.201 80.458 80.458v130.702c0 45.591-37.3 82.89-82.891 82.89zm-358.032 0H84.096c-44.256 0-80.446-36.19-80.446-80.446 0-165.58-42.331-347.485 160.644-399.418 91.95-23.516 115.915 77.753 18.118 84.745-59.646 4.276-71.292 42.804-73.146 101.068h92.269c44.256 0 80.457 36.201 80.457 80.458v130.702c0 45.591-37.3 82.89-82.89 82.89z"
              />
            </svg>
          </div>
          <div class="mt-2">
            I felt disorganized. Pieces of paper everywhere. I was constantly
            making new lists, losing old ones, crossing off items and adding new
            ones. I was forever worried things were slipping and not getting
            done. My brain was tired
          </div>
          <div>
            <div class="mx-auto my-8 w-full border border-gray-300"></div>
            <div class="flex items-center">
              <div>
                <img
                  class="h-12 w-12 rounded-full border-2 border-indigo-400"
                  src="https://avatars2.githubusercontent.com/u/2741?s=64&v=4"
                />
              </div>
              <div class="ml-4">
                <div class="font-bold">David H. Hansson</div>
                <div class="mt-1 text-sm text-gray-600">
                  CTO,
                  <a
                    href="https://timerse.com/7-steps-to-boost-your-metabolism/"
                    >Boosting Metabolism</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
