<div class="mt-24 flex justify-center">
  <div
    class="mx-4 flex w-full flex-col items-center gap-4 md:w-auto md:max-w-3xl md:flex-row md:items-start"
  >
    <div class="overflow-x-hidden p-2">
      <div class="flex pt-2 md:overflow-x-auto">
        <ol
          class="border-s border-neutral-300 md:flex md:justify-center md:gap-6 md:border-s-0 md:border-t dark:border-neutral-500"
        >
          <!--First item-->
          <li *ngFor="let experience of experiences">
            <div
              class="flex-start flex min-w-[300px] items-center pt-2 md:block md:pt-0"
            >
              <div
                class="-ms-[5px] me-3 h-[9px] w-[9px] rounded-full bg-neutral-300 md:-mt-[5px] md:me-0 md:ms-0 dark:bg-neutral-500"
              ></div>
              <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-300">
                {{ experience.tenure }}
              </p>
            </div>
            <div class="ms-4 mt-2 pb-5 text-justify md:ms-0">
              <h4 class="mb-1.5 text-xl font-semibold">
                {{ experience.jobRole }}
              </h4>
              <p
                class="text-align-last-left mb-3 text-neutral-500 dark:text-neutral-300"
              >
                {{ experience.jobDescription }}
              </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
